<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

<div class="box">

    {% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="column is-4 is-offset-4">
            <h3 class="title">Sign Up</h3>
            <div class="field">
                <div class="control">
                    <label class="is-medium" for="id_username">User Name:</label>
                    <input autofocus="" class="input is-medium" id="id_username" name="username" placeholder="Username"
                           type="text">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="is-medium" for="id_first_name">Your First Name: </label>
                    <input autofocus="" class="input is-medium" id="id_first_name" name="first_name" placeholder="First Name" type="text">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="is-medium" for="id_last_name">Your Last Name: </label>
                    <input autofocus="" class="input is-medium" id="id_last_name" name="last_name" placeholder="Last Name" type="text">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="is-medium" for="id_password1">Your Password: </label>
                    <input class="input is-medium" id="id_password1" name="password1" placeholder="Password"
                           type="password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="is-medium" for="id_password2">Repeat your Password: </label>
                    <input class="input is-medium" id="id_password2" name="password2" placeholder="Password"
                           type="password">
                </div>
            </div>
            <button class="button is-block is-info is-medium is-fullwidth">Sign Up</button>
        </div>
    </form>
    {% endblock %}
</div>
