{% extends "rest_framework/base.html" %}
{% block title %}
Digirise an IT company
{% endblock %}
{% block bootstrap_navbar_variant %} navbar-dark bg-primary{% endblock %}
{% block branding %}
        <a class="navbar-brand"
           href="https://www.proff.se/foretag/digirise-ab/bandhagen/internet-konsulter-operat%C3%B6rer/2KHGD9MI5YFHL">
            <img alt="Diirise" class="is-rounded"
                 height="28" src="https://digirisestatic.blob.core.windows.net/static/webApp/digirise.png" width="112">
        </a>
    <link href="https://digirisestatic.blob.core.windows.net/static/webApp/digi-icon.png" rel="icon"/>
{% endblock %}

