<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Upload Files</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet"/>
</head>

<body>
{% load static %}
<nav class="navbar is-link">
    <div class="navbar-brand">
        <a class="navbar-item "
           href="https://www.proff.se/foretag/digirise-ab/bandhagen/internet-konsulter-operat%C3%B6rer/2KHGD9MI5YFHL">

            <img alt="Diirise" class="is-rounded"
                 height="28" src="https://digirisestatic.blob.core.windows.net/static/webApp/digirise.png" width="112">

        </a>
        <div class="navbar-burger burger"
             data-target="digiriseNavBar"
             onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu" id="digiriseNavBar">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'index' %}">
                Home
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {% if user.is_authenticated %}
                    Welcome {{ user.first_name }} {{ user.last_name }}
                    {% else %}
                    Menu
                    {% endif %}
                </a>
                <div class="navbar-dropdown is-boxed">
                    {% if user.is_authenticated %}
                    {% if perms.webApp %}
                    {% if perms.webApp.add_document %}
                    <a class="navbar-item" href="{% url 'upload' %}">
                        Upload Files
                    </a>
                    {% endif %}
                    {% endif %}
                    <a class="navbar-item" href="{% url 'password_reset' %}">
                        Reset Password
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'logout' %}">
                        Logout
                    </a>
                    {% else %}
                    <a class="navbar-item" href="{% url 'login' %}">
                        Login
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</nav>
<section class="hero is-primary is-fullheight-with-navbar">

    <div class="hero-body">
        <div class="container is-fluid">
            {% if form.errors %}
            <div class="notification is-danger alert-dismissible col-12 mx-1" role="alert">
                <div id="form_errors1">
                    {% for key, value in form.errors.items %}
                    {% for error in value %}
                    {% if 'already exists' in error %}
                    <span class="fieldWrapper">
                       {{ error }}. Go to <a href="{% url 'login' %}">login page</a>.
                   </span>
                    {% else %}
                    <span class="fieldWrapper">
                       {{ error }}
                   </span>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>
