{% extends "base.html" %}

{% block content %}
{% load static %}
       <p class="title">Founders</p>
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle has-text-black">Prateek</p>
            <figure class="image is-128x128">
                <img alt="Prateek"
                     src="static/webApp/Prateek.jpg">
            </figure>
            <p>Prateek is Bachelor in Technology from IIT – Varanasi
                , one of the most reputed university in India. He have a total 18 years of continuous IT experience. He thrive on challenging and responsible role in an organisation. I thrive for great learning opportunities, where he can upgrade himself and advance his knowledge to the next level.</p>

            <p>In all these he have worked in various roles ranging java developer, database administrator, Devops engineer to System Architect in CTO office, follow Industry standard group (ISGs), doing pre-studies and POCs to assist company to take strategic Technological decisions.</p>

            <p>In his current role he mainly focus cutting-edge technologies in Cloud orchestration in Azure, and Openstack based cloud using Terraform, and Ansible. He also act as a Team lead for highly motivated sets of engineer and technically steer the architecture of his IaaC (Infrastructure as a Code)</p>
        </div>
        <div class="tile is-child box">
            <p class="subtitle has-text-black">Shrinkhla</p>
            <figure class="image is-128x128">
                <img alt="Shrinkhla"
                     src="static/webApp/Shrinkhla.jpg">
            </figure>
            <p></p>
        </div>
    </div>
</div>


{% endblock %}
