{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="tile is-ancestor">
    {% if not user.is_authenticated %}
    <div class="tile is-parent is-horizontal">
        <div class="tile is-child box">
            <a class="is-success" href="{% url 'login'%}"><p class="subtitle is-center has-text-black">Not Logged on:
                Please Login</p></a>
        </div>
    </div>
    {% endif %}
</div>

<div class="tile is-ancestor">
    <div class="tile is-parent">

        <div class="tile is-child box">

            <figure class="image">
                <img alt="About us"
                     src="static/webApp/frontPage.png">
            </figure>

            <p>The company focuses on providing consulting, product development in telecom, IoT and IT and related
                activities</p>
        </div>
    </div>

    <div class="tile is-4 is-vertical is-parent">
        <p class="title">Our Offerings</p>
        <div class="tile is-child box">
            <p class="subtitle has-text-black">IoT</p>
            <figure class="image is-128x128">
                <img alt="IoT"
                     src="static/webApp/IOT.png">
            </figure>
        </div>
        <div class="tile is-child box">
            <p class="subtitle has-text-black">Telecom</p>
            <figure class="image is-128x128">
                <img alt="Prateek Srivastava"
                     src="static/webApp/Telecom.png">
            </figure>
        </div>
        <div class="tile is-child box">
            <p class="subtitle has-text-black">DevOps</p>
            <figure class="image is-128x128">
                <img alt="Prateek Srivastava"
                     src="static/webApp/DevOps.png">
            </figure>
        </div>
        <div class="tile is-child box">
            <p class="subtitle has-text-black">Cloud</p>
            <figure class="image is-128x128">
                <img alt="Prateek Srivastava"
                     src="static/webApp/Cloud.png">
            </figure>
        </div>
    </div>
</div>


{% endblock %}
