{% extends "base.html" %}

{% block content %}
{% load static %}
<h1 class="title">
    Digirise
</h1>
<p><strong>Founders</strong></p>
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">

        <div class="tile is-child box">
            <p class="title has-text-black">Shrinkhla</p>
            <figure class="image is-128x128">
                <img src="{% static 'webApp/Shrinkhla.jpg' %}" alt="Shrinkhla Kishore">
            </figure>
        </div>
        <div class="tile is-child box">
            <p class="title has-text-black">Prateek</p>
            <figure class="image is-128x128">
                <img src="{% static 'webApp/Prateek.jpg' %}" alt="Shrinkhla Kishore">
            </figure>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="title has-text-black">About Us</p>
            <p>The company focuses on providing consulting, product development in telecom, IoT and IT and related
                activities</p>
            <p><strong></strong><a
                    href="https://www.proff.se/foretag/digirise-ab/bandhagen/internet-konsulter-operat%C3%B6rer/2KHGD9MI5YFHL">More
                info</a></strong></p>
        </div>
    </div>
</div>


{% endblock %}
