{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="tile is-ancestor">
    {% if not user.is_authenticated %}
    <div class="tile is-parent is-horizontal">
        <div class="tile is-child box">
            <a class="is-success" href="{% url 'login'%}"><p class="subtitle is-center has-text-black">Not Logged on: Please Login</p></a>
        </div>
    </div>
    {% endif %}
</div>
<h1 class="title">
    Digirise
</h1>
<p><strong>Founders</strong></p>
<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">

        <div class="tile is-child box">
            <p class="title has-text-black">Shrinkhla</p>
            <figure class="image is-128x128">
                <img src="https://digirisestatic.blob.core.windows.net/static/webApp/Shrinkhla.jpg?sp=rl&st=2020-11-13T23:00:04Z&se=2025-11-14T23:00:00Z&sv=2019-12-12&sr=c&sig=MMqFOmpwABcUGHRKbge1F%2F5qDyGHhEDGA0e26oQ5nro%3D" alt="Shrinkhla Kishore">
            </figure>
        </div>
        <div class="tile is-child box">
            <p class="title has-text-black">Prateek</p>
            <figure class="image is-128x128">
                <img src="https://digirisestatic.blob.core.windows.net/static/webApp/Prateek.jpg?sp=rl&st=2020-11-13T22:59:03Z&se=2025-11-14T22:59:00Z&sv=2019-12-12&sr=b&sig=%2BmBWF1xfTyMbVSaSvNt9xin6gFdP%2BLqjstMNP59FmNU%3D" alt="Prateek Kishore">
            </figure>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="title has-text-black">About Us</p>
            <p>The company focuses on providing consulting, product development in telecom, IoT and IT and related
                activities</p>
            <p><strong></strong><a
                    href="https://www.proff.se/foretag/digirise-ab/bandhagen/internet-konsulter-operat%C3%B6rer/2KHGD9MI5YFHL">More
                info</a></strong></p>
        </div>
    </div>
</div>


{% endblock %}
