{% extends 'base.html' %}

{% load static %}

{% block content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <label class="label is-large" for="id_document">Document:</label>
            <input autofocus="" class="input is-large" id="id_document" name="document" placeholder="Your Document"
                   type="file">
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">Submit</button>
</form>

{% if uploaded_file %}

    <div class="slide">
        <a download href="{{ uploaded_file.document.url }}?{{ sas_token }}">
            {{ uploaded_file.document }}
            {% if uploaded_file.get_extension == '.jpg' %}
            {% load thumbnail %}
            {% thumbnail uploaded_file.document '200x100' padding=True as im %}
            <img src="{{ im.url }}?{{ sas_token }}">
            {% endthumbnail %}
            {% endif %}
        </a>

        <div class="caption" style="bottom:0">
            <p>{{ doc.document}}</p>
        </div>
    </div>
</p>
<p class="has-text-black"><a href="{% url 'listfile' '' %}"><strong>List All Files</strong></a></p>
{% endif %}

<p><a href="{% url 'index' %}">Return to home</a></p>
{% endblock %}