{% extends "base.html" %}


<p>ALL FILES:</p>
{% csrf_token %}
{% block content %}
{% load thumbnail %}
<div class="tile is-ancestor">

    {% for doc_set in doc_list %}
         <div class="tile is-parent is-vertical">
         {% for doc in doc_set %}
        <div class="tile is-child is-3 box ">
       <a download href="{{ doc.document.url }}?{{ sas_token }}">
            {% load thumbnail %}
            {% if doc.get_extension == '.jpg' or doc.get_extension == '.png' %}
            {% thumbnail doc.document '50x50' padding=True as im %}
             <img src="{{ im.url }}?{{ sas_token }}">
            {% endthumbnail %}
            {% elif doc.get_extension == '.pdf' %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_pdf.png">
            {% elif doc.get_extension == '.log' %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_txt.png">
            {% elif 'doc' in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_doc.png">
            {% elif 'xls' in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_xls.png">
            {% elif 'zip' in doc.get_extension or rar in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_zip.png">
            {% elif 'ppt' in doc.get_extension or 'PPT' in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_ppt.png">
            {% elif 'htm' in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_html.png">
            {% else %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_icons-18.png">
            {% endif %}

        </a>
         <div class="caption" style="bottom:0">
            {{ doc.document.name}}
        </div>
        </div>
     {% endfor %}
    </div>
        </div>
    {% endfor %}


</div>
 {% endblock %}