{% extends "base.html" %}


<p>ALL FILES:</p>
{% csrf_token %}
{% block content %}
{% load thumbnail %}
<div>
    {%
    {% for doc in doc_list %}
    <div class="slide">
        <a download href="{{ doc.document.url }}?{{ sas_token }}">
            {% load thumbnail %}
            {% if doc.get_extension == '.jpg' or doc.get_extension == '.png' %}
            {% thumbnail doc.document '50x50' padding=True as im %}
             <img src="{{ im.url }}?{{ sas_token }}">
            {% endthumbnail %}
            {% elif doc.get_extension == '.pdf' %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_pdf.png?{{ sas_token }}">
            {% elif doc.get_extension == '.log' %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_txt.png?{{ sas_token }}">
            {% elif 'doc' in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_doc.png?{{ sas_token }}">
            {% elif 'xls' in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_xls.png?{{ sas_token }}">
            {% elif 'zip' in doc.get_extension or rar in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_zip.png?{{ sas_token }}">
            {% elif 'ppt' in doc.get_extension or 'PPT' in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_ppt.png?{{ sas_token }}">
            {% elif 'htm' in doc.get_extension %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_html.png?{{ sas_token }}">
            {% else %}
            <img src="https://digirisestatic.blob.core.windows.net/static/webApp/webApp/icons/file_type_icons-18.png?{{ sas_token }}">
            {% endif %}

        </a>
        <div class="caption" style="bottom:0">
            <p>{{ doc.document}}</p>
        </div>
    </div>
    {% endfor %}
    {% endblock %}

